* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background: grey;
    color: white;
    padding: 1rem;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: red;
    color: white;
    padding: 1rem;
}